<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.latihan.pariwisata">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
<!--        <activity android:name=".GaleriAdapter"></activity>-->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBh9p5QyA-fIkDNgjq4cd7Licr2MuWQdT8" />

        <activity android:name=".ProfilWisata" />
        <activity android:name=".VideoWisata" />
        <activity android:name=".About" />
        <activity android:name=".PortalWisata" />
        <activity android:name=".LokasiWisata" />
        <activity android:name=".GaleriWisata" />
        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>